<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        .message {
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        .message.error {
            background-color: #f8d7da;
            color: #721c24;
        }
        .message.success {
            background-color: #d4edda;
            color: #155724;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="main_container">
            <h1>Register</h1>
            <form action="/users/register" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <select name="role">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                </select>
                <button type="submit">Register</button>
            </form>
                
            <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
                <div class="message <%= messageType %>">
                    <% messages.forEach(function(message) { %>
                        <div>&#8226; <%= message %></div>
                    <% }) %>
                </div>
            <% } else { %>
                <div class="message">
                    
                    <div>&#8226; Username must be at least 6 characters long</div>
                    <div>&#8226; Password must be at least 8 characters long</div>
                    <div>&#8226; Password must contain a number, a lowercase letter, and an uppercase letter</div>

                    
                </div> <%}%>
        
        </div>
    </div>
</body>
</html>
