<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Classes</title>
</head>
<body>
    <div class="wrapper">
        <%- include('_navbar', { userRole: userRole }) %>
        <div class="main_container">
    
    <h2>Your Classes:</h2>
    <ul>
        <% classes.forEach(function(cl) { %>
            <li><a href="/students/student-class-details/<%= cl._id %>"><%= cl.name %> - Taught by <%= cl.teacher.username %></a></li>
        <% }); %>
    </ul>
    </div>
    </div>
</body>
</html>