<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <style>
        .new-notifications {
            color: red;
            font-weight: bold;
        }
    </style>
    <script>
        async function checkNewNotifications() {
            try {
                const response = await fetch('/students/student-new-notifications');
                const data = await response.json();
                const newNotificationsElement = document.getElementById('new-notifications');

                if (data.notifications.length > 0) {
                    newNotificationsElement.innerText = ' (New Notifications Available)';
                } else {
                    newNotificationsElement.innerText = '';
                }
            } catch (error) {
                console.error('Error checking new notifications:', error);
            }
        }

        async function checkNewTasks() {
            try {
                const response = await fetch('/students/student-new-tasks');
                const data = await response.json();
                const newTasksNotification = document.getElementById('new-tasks-notification');

                if (data.tasks.length > 0) {
                    newTasksNotification.innerText = ' (New Tasks Available)';
                } else {
                    newTasksNotification.innerText = '';
                }
            } catch (error) {
                console.error('Error checking new tasks:', error);
            }
        }

        window.onload = function() {
            checkNewTasks();
            checkNewNotifications();
        }
    </script>
</head>
<body>
    <h1>Welcome <%= username %></h1>
    <nav>
        <ul>
            <li>Total Attendance: <%= totalAttendancePercentage %></li>
            <li>Total Tasks Completed: <%= totalTaskCompletionPercentage %></li>
            <li><a href="/students/student-classes">View Classes</a></li>
            <li>
                <a href="/students/student-incomplete-tasks">View Incomplete Tasks</a>
                <span id="new-tasks-notification"></span>
            </li>
            <li>
                <a href="/students/student-notifications">View Notifications</a>
                <span id="new-notifications"></span>
            </li>
            <li><a href="/students/student-attendance-report">View Attendance Report</a></li>
            <li><a href="/students/settings">Settings</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
