<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Attendance Details</title>
</head>
<body>
    <h1>Class: <%= className %></h1>
    <h2>Attendance Percentage: <%= totalAttendancePercentage %> %</h2>
</body>
</html>
