<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
</head>
<body>
    <h1>Welcome <%= username %></h1> <!-- Display the username -->
    <nav>
        <ul>
            <li><a href="/teachers/view-classes">View Classes</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>