<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Classes</title>
    <style>
        
    </style>
</head>
<body>
    <div class="wrapper">
        <%- include('_navbar2', { userRole: userRole }) %>
        <div class="main_container">
    <h1>Your Classes</h1>
    <ul>
        <% classes.forEach(function(cls) { %>
            <li>
                <a href="/teachers/view-class/<%= cls._id %>"><%= cls.name %></a> <!-- Link to view class details and tasks -->
                <a href="/teachers/edit-class/<%= cls._id %>" style="margin-left: 20px;">Edit</a>
            </li>
        <% }) %>
    </ul>
    <button onclick="location.href='/teachers/create'">Add New Class</button> <!-- Button to add a new class -->
    <button onclick="location.href='/teachers/dashboard'">Back</button>
    </div>
    </div>
</body>
</html>
